body {
    background-color: white;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    border: 1px solid #167F7F;
    background-color: #70ADAD;
}
.card .card-image {
    order: 1;
    flex-grow: 2;
    flex-basis: 28%;
    overflow: hidden;
}
.card .card-image img {
    width: 100%;
}
.card .card-content {
    order: 2;
    flex-grow: 3;
    flex-basis: 68%;
    padding: 10px;
}
.card .card-title h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}

.card .card-title h2 {
    display: inline;
    font-family: 'Lato', sans-serif;
    margin: 1px 0 15px 0;
}

.card .card-title p {
    display: inline;
    font-family: 'Lato', sans-serif;
}
.card .card-description p {
    font-family: 'Lato', sans-serif;
}
.card hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 992px) {
    .container {
        width: 75%;
    }

    .card .card-image {
        flex-basis: 38%;
    }

    .card .card-content {
        flex-basis: 58%;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .card .card-image {
        flex-basis: 100%;
    }
}