<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'lab_1/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ name }}'s Profile</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'lab_1/img/prof1.jpeg' %}" alt="profile img 1">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h5>Hello I'm..</h5>
                        <h2>{{ name }}</h2>
                        <p>1706020446</p>
                        <hr>
                    </div>
                    <div class="card-description">
                        <p>
                            I am {{ age }} years old and currently a student in {{ university }}<br>
                            hobby: {{ hobby }}<br>
                            description: {{ description }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{% static 'lab_1/img/prof2.png' %}" alt="profile img 2">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h5>Hello I'm..</h5>
                        <h2>Vadim</h2>
                        <p>123456789</p>
                        <hr>
                    </div>
                    <div class="card-description">
                        <p>
                            I am 18 years old and currently a student in UI<br>
                            hobby: doing work in acara pmb<br>
                            description: He is the PIC of sabtu pelangi 1
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                    <div class="card-image">
                        <img src="{% static 'lab_1/img/prof3.jpg' %}" alt="profile img 3">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h5>Hello I'm..</h5>
                            <h2>Andre</h2>
                            <p>123456789</p>
                            <hr>
                        </div>
                        <div class="card-description">
                            <p>
                                I am 18 years old and currently a student in UI<br>
                                hobby: making frontend<br>
                                description: he is one of the guys who made the pmb website
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>
